/*
* Font Size
* Our Root font size is 16px;
*/
$xs-font: 0.5rem; //8px
$sm-font: 0.75rem; // 12px
$md-font: 0.88rem; // 14px
$lg-font: 1rem; // 16px
$xlg-font: 1.15rem;
$x2lg-font: 1.25rem;
$x3lg-font: 1.5rem;

// Color Variables
$primary-color: #177b57;
$secondary-color: #333333;

// Padding Variables
$padding-0: 0rem;
$padding-1: 0.25rem;
$padding-2: 0.5rem;
$padding-3: 0.75rem;
$padding-4: 1rem;

// Margin Variables
$margin-0: 0rem;
$margin-1: 0.25rem;
$margin-2: 0.5rem;
$margin-3: 0.75rem;
$margin-4: 1rem;
